<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Store Suite">

    <listeners>
        <listener class-name="com.applaudo.shop.listener.ExecutionListener"/>
    </listeners>

    <test name="Shopping List">
        <classes>
            <class name="com.applaudo.shop.tests.ShoppingListTests"/>
        </classes>
    </test>

</suite>